@import "../bootstrap_scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import "varibles";

.b_gen {
    background: #ccc;
    height: 300px;
}

@import "../block/generalStyle";
@import "../block/header";
@import "../block/aboutUs";
@import "../block/services";
@import "../block/whatWeDo";
@import "../block/previous";
@import "../block/contact";


footer {
    padding: 30px;
    text-align: center;
}
